@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
/* @import 'effect.css'; */

:root {
  --primary-color: #ffc400;
  --secondary-color: #040911;
  --third-color: #141c30;
  --text-color: white;
}

body {
  font-family: 'Lato', sans-serif;
  color: var(--text-color);
  background: var(--secondary-color);
  font-size: 16px;
  letter-spacing: 0.03rem;
  font-weight: normal;
}

@media (max-width: 768px) {
  body {
    font-size: 0.9rem;
  }
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  text-align: center;
  min-height: fit-content;
}

@media (max-width: 768px) {
  section {
    height: 90vh;
  }
}

h2 {
  color: var(--primary-color);
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: bolder;
}

@media (max-width: 768px) {
  h2 {
    font-size: 1.2rem;
  }
}

h3 {
  color: var(--primary-color);
  font-size: medium;
  font-weight: 2rem;
}

@media (max-width: 768px) {
  h3 {
    font-size: 1rem;
  }
}

/* CSS for Zammad Form widget */

.zammad-form-modal {
  div,
  form {
    color: white;
    background:
      radial-gradient(circle at 0% 50%, var(--third-color) 5%, transparent 30%),
      radial-gradient(circle at 96% 25%, var(--third-color) 5%, transparent 30%);
    background-color: #0d1323;
    border: 0.5px solid;
    border-image: linear-gradient(45deg, var(--third-color), var(--third-color), var(--third-color))
      1;
  }

  button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 20px;
    width: 30%;
    min-width: min-content;
  }

  button:hover {
    background-color: var(--third-color);
    color: var(--primary-color);
    border: 0.5px solid;
  }

  input,
  textarea {
    background-color: var(--third-color);
    color: white;
    border: 0.5px solid;
    border-image: linear-gradient(45deg, var(--third-color), var(--third-color), var(--third-color))
      1;
  }

  input::placeholder,
  textarea::placeholder {
    color: white;
  }
}
